<!DOCTYPE html>
<html>
<head>
  <title>ReportableXls</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="masthead">
      <h3 class="muted">Reportable-XLS</h3>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav" id="topnav">
              <%- if user_signed_in? %>
                <li><a href="/documents">Documents</a></li>
              <% else %>
                <li><a href="/">Home</a></li>
              <% end -%>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <%- if current_user.try(:admin?) %>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/sidekiq">Sidekiq</a></li>
              <% end -%>
              <%- if user_signed_in? %>
                <li class="pull_right">
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </li>
              <% end -%>
            </ul>
          </div>
        </div>
      </div><!-- /.navbar -->
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
